/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.light-style .menu .app-brand.demo {
  height: 64px;
}

.dark-style .menu .app-brand.demo {
  height: 64px;
}

.app-brand-logo.demo {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
}

.mefi-logo {
  width: 200px;
  height: 42px;
}

.menu-right{
  width: 25px;
}

.hero-title {
  font-weight: 600;
  color: #1f3e5b;
  font-size: 40px;
}

.sub-title {
  font-size: 20px;
  color: #1f3e5b;
}

.heroImage-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 508px;
}

.heroImage-one {
  height: 440px;
  width: 240px;
  object-fit: cover;
  border-radius: 8px;
}

.heroImage-one-Wreapper {
  display: flex;
  gap: 10px;
  align-items: center;
  align-content: flex-end;
}

.heroImage-container {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  /*  */
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-items: center;
  /* padding: 4px; */
  max-width: 480px;
  height: fit-content;
  margin-top: 80px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.search-container-Wrapper {
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 1100px;
  /* align-items: center; */
}

.search-container-Wrapper:hover {
  box-shadow:rgba(174 196 231 /43%) 0px 0px 24px 4px;
}

.search-container li {
  list-style: none;
}

.search-btn {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #1f3e5b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  box-shadow: rgba(31, 31, 172, 0.24) 3px 3px 8px;
}

.search-container li a {
  display: flex;
  align-content: space-around;
  gap: 20px;
  align-items: center;
}

.search-mefie-input {
  width: 92%;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  background: transparent;
  /* padding-left: 30px; */
  /* border: 1px solid grey; */
  /* background-color: #9ea3a5; */
  content: "location";
}

.location-input {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 300px;
  height: 70px;
  border-radius: 50px;
  outline: none;
  border: none;
  /* padding: 15px; */
  padding-left: 30px;
  padding-top: 10px;
  /* border: 1px solid grey; */
  cursor: pointer;
}

.location-input:hover {
  color: black;
  background-color: rgba(155, 155, 157, 0.24);
}

.see {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(174 196 231 /43%) 0px 0px 24px 4px;
}
.nav-shadow {
  width: 100%;
  max-width: 1220px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  margin: 0;
  padding: 0;
}

.hero-container {
  display: flex;
  gap: 20px;
  max-width: 1220px;
  margin-top: 64px;
  padding: 10px;
}

.hero-image {
  height: 176px;
  width: 240px;
  border-radius: 8px;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  border: 1px solid #9ea3a5;
  border-radius: 25px;
}

.featured {
  /* background-color: rgba(174 196 231 /43%); */
  max-width: 1220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 42px 56px;
  color: black;
}

.featured h3 {
  color: #1f3e5b;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.feartured-container {
  background-color: rgba(174 196 231 /43%);
  width: full;
  /* padding: 42px 56px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.featured img {
  width: 445px;
  height: 80px;
}

.vetted-business-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  background-color: #f3f4f4;
}

.vetted-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 14px;
  max-width: 1220px;
  height: 634px;
  overflow-x: clip;
}

.container-title {
  color: rgb(5.9% 9% 16%);
  font-size: 26.25px;
  font-weight: 700;
  letter-spacing: 0.315px;
  line-height: 31.5px;
  margin: 0px 0px 31.5px;
  text-align: center;
}

.vetted-container-wrapper {
  display: flex;
  flex-direction: column;
  color: rgb(5.9% 9% 16%);
  font-size: 15.75px;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  padding: 0px 0px 28px;
}

.budiness-card-wrapper {
  align-items: flex-start;
  color: rgb(5.9% 9% 16%);
  display: flex;
  font-size: 15.75px;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  gap: 20px;
}

.budiness-card-wrapper .vetted-business-cards:nth-child(n + 5) {
  display: none;
}

.vetted-business-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vetted-business-cards-wrapper {
  display: flex;
  align-items: flex-start;
}

.business-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10.5px 10.5px 0;
  width: 287px;
  height: 452px;
  border-radius: 10.5px;
}

.business-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.card-link {
  border-radius: 10.5px;
  box-shadow: rgb(0% 0% 0% / 0) 0px 0px 0px 0px;
  color: rgb(0.39% 48% 93%);
  display: flex;
  flex-direction: column;
  font-size: 15.75px;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  padding: 0px 14px 14px;
}

.business-card-image {
  width: 266px;
  height: 320px;
  border-radius: 10.5px 10.5px 0px 0px;
  font-size: 15.75px;
  letter-spacing: 0.315px;
  line-height: 24.5px;
}

.business-card-title {
  color: rgb(5.9% 9% 16%);
  font-size: 15.75px;
  font-weight: 600;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  margin: 10px 10px 7px;
}

.business-card-sub-title {
  color: rgb(28% 33% 41%);
  font-size: 14px;
  letter-spacing: 0.315px;
  line-height: 21px;
  margin-left: 10px;
}

.app-brand-logo.demo svg {
  width: 1.7rem;
  height: 1.7rem;
}

.business-card-selection {
  color: rgb(5.9% 9% 16%);
  display: flex;
  gap: 10px;
  font-size: 15.75px;
  justify-content: center;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  /* margin: 42px 0px 0px; */
  margin-top: 42px;
  /* border: 1px solid blue; */
}

.business-card-selector {
  align-items: center;
  background-color: rgb(100% 100% 100%);
  border-color: rgb(80% 84% 88%);
  border-radius: 9999px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgb(0% 0% 0% / 0) 0px 0px 0px 0px;
  color: rgb(39% 45% 55%);
  display: flex;
  font-size: 12.25px;
  justify-content: center;
  letter-spacing: 0.315px;
  line-height: 17.5px;
  padding: 7px;
  text-align: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.business-card-selector:hover {
  background-color: #e9ecee;
}

.recommendation-continer {
  background-color: #f3f4f4;
  /* fill: none; */
  font-size: 15.75px;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 42px;
  padding-bottom: 42px;
}

.recomm-container-wrapper {
  color: rgb(5.9% 9% 16%);
  display: flex;
  font-size: 15.75px;
  justify-content: space-around;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  width: 100%;
  max-width: 1220px;
  z-index: 100;
  /* border: 1px solid red; */
}

.recom-btn {
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    rgb(40, 150, 254),
    rgb(81, 170, 254)
  );

  border-color: rgb(0% 0% 0% / 0);
  border-radius: 9999px;
  border-style: solid;
  border-width: 1px;
  color: rgb(100% 100% 100%);
  display: flex;
  font-size: 15.75px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  padding: 14px 21px;
  text-align: center;
  gap: 10px;
}
.recom-btn:hover {
  background-image: linear-gradient(
    to right bottom,
    rgb(2, 130, 250),
    rgb(2, 130, 249)
  );
}

.svg-back {
  position: absolute;
}
.recom-svg {
  width: 21px;
  height: 21px;
}

.recomm-details {
  color: rgb(5.9% 9% 16%);
  display: flex;
  flex-direction: column;
  font-size: 15.75px;
  justify-content: center;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  text-align: left;
  justify-content: center;
  max-width: 379px;
  /* height: 470px; */
}

.recom-tilte {
  color: rgb(5.9% 9% 16%);
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.315px;
  line-height: 35px;
  margin: 0px 0px 21px;
  text-align: left;
}

.recom-sub-title {
  color: rgb(5.9% 9% 16%);
  font-size: 18.5px;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  margin: 0px 0px 42px;
  text-align: left;
}

.recom-team {
  color: rgb(5.9% 9% 16%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 15.75px;
  gap: 14px;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: 182.422px 182.414px; */
  letter-spacing: 0.315px;
  line-height: 24.5px;
  /* margin: 28px 0px 0px; */
  width: 379px;
  height: 379px;
  /* border: 1px solid red; */
}

.recom-team-image {
  border-radius: 10.5px;
  box-shadow: rgb(0% 0% 0% / 0) 0px 0px 0px 0px;
  color: rgb(5.9% 9% 16%);
  font-size: 15.75px;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  /* object-fit: cover; */
}

.recom-team-image-one {
  width: 117px;
  height: 117px;
}

.recom-team-image-two {
  width: 182px;
  height: 182px;
}

.recom-team-image-three {
  width: 182px;
  height: 182px;
}

.recom-team-image-four {
  width: 117px;
  height: 117px;
}

.whyChooseUs {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whyChooseUsWrapper {
  color: black;
  /* margin: 0px 210px; */
  max-width: 1220px;
  position: relative;
}

.whyChooseUs-title {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 28px;
}

.whyChooseUs-titletwo {
  display: inline;
  font-size: 31.5px;
  font-weight: 800;
  letter-spacing: 0.315px;
  line-height: 35px;
  text-align: center;
}

.whyUse {
  font-size: 31.5px;
  font-weight: 800;
  letter-spacing: 0.315px;
  line-height: 35px;
  color: black;
}

.mefie-com {
  font-size: 31.5px;
  font-weight: 800;
  letter-spacing: 0.315px;
  line-height: 35px;
  color: rgb(32% 67% 100%);
}

.whyChooseUs-titletwo svg {
  width: 42px;
  height: 52px;
  position: absolute;
  z-index: 10;
  right: 330px;
  top: -35px;
  color: rgb(32% 67% 100%);
}

.whyChooseUs-card-title {
  display: flex;
  align-items: center;
}

.card-title {
  font-size: 17.5px;
  color: black;
  font-weight: 600;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  margin: 0px 0px 0px 3.5px;
  text-align: left;
  padding: 0;
}

.card-infor {
  font-size: 15.75px;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  margin: 0px 0px 0px 24.5px;
  text-align: left;
}

.whyChooseUs-card-title svg {
  width: 21px;
  height: 21px;
  color: rgb(32% 67% 100%);
}

.whyChooseUs-card-container {
  display: flex;
  gap: 40px;
  
}

.whyChooseUsCard {
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  color: rgb(5.9% 9% 16%);
  display: flex;
  flex-direction: column;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  padding: 14px;
  text-align: left;
}

.whyChooseUs-card-details {
  font-size: 16px;
}

.service-records {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  /* padding: 70px 0px; */
}

.service-records-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  font-size: 15.75px;
  gap: 56px;
  letter-spacing: 0.315px;
  line-height: 24.5px;
  margin-top: 40px;
}

.service-records-details {
  max-width: 532px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 0px 42px;
}

.service-records-subtitle {
  text-align: center;
  color: black;
  font-size: 16px;
  letter-spacing: 0.315px;
  line-height: 25.5938px;
  margin: 0px 0px 14px;
}

.services-image {
  width: 448px;
  height: 448px;
}

.review-container {
  padding: 70px 0px;
}

.review-wrapper {
  max-width: 1220px;
  margin: 0px 252px;
  padding: 0px 14px;
}

.footer-layout {
  display: flex;
  justify-content: center;
}

.container-p-x {
  display: flex;
  justify-content: center;
  width: 1220px;
}

.row {
  width: 1220px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
}

.foot {
  width: 220px;
}

.navigation-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.navigation-list li,
a {
  list-style: none;
  font-size: 14px;
  letter-spacing: 0.315px;
  /* font-weight: 600; */
  color: #1f3e5b;
  /* font-weight: 600; */
}

.CTA-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 64px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.CTA-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1220px;
  height: 221px;
  border-radius: 10px;
  background:linear-gradient(
    to right bottom,
    rgb(40, 150, 254),
    rgb(81, 170, 254) )
}

.CTA-button-container{
  display: flex;
  gap: 15px;

}

.CTA-title{
  color: white;
  margin-bottom: 40px;
}
.chevron_right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: rgb(81, 170, 254) ;
}

.bx{
  color: white;
}

.create-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 15px 24px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  background-color: white;
  color: rgb(81, 170, 254);
}

.contact-sales-button{
  padding: 15px 24px;
  border-radius: 6px;
  border: 1px solid white;
  border-style: solid;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: transparent;
}

.contact-sales-button:hover{
  background-color:white ;
  color: rgb(81, 170, 254);
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.45px;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir="rtl"] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}
